GrabbitUrl = "http://localhost:3000"
DestinationRoot = "/path/to/download/directory"
GrabbitTag = "tag_name"

FtpRoot = "ftp://grabbit/Downloads"
FtpFSRootRegex = /\/path\/to\/Downloads\//
FtpReadyTag = "tag_name"
FtpDestinationRoot = "/home/user/Downloads/"

TransmissionConfig = {"url" => "http://transmission:9091/transmission/rpc", "username" => "transmission", "password" => "password123"}

Status = {
    :not_started => "Not Started",
    :in_progress => "In Progress",
    :finished => "Finished",
    :failed => "Failed",
    :retry => "Retry",
    :cancelled => "Cancelled"
}

